.image-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--border);
    padding: 4px;
}
