.brandsGrid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 640px) {
    .brandsGrid {
        grid-template-columns: repeat(3, 180px);
        width: fit-content;
    }
}

@media (min-width: 1024px) {
    .brandsGrid {
        grid-template-columns: repeat(4, 180px);
    }
}
