.subSection-Container {
    width: 100%;
    box-sizing: border-box;
}

.subSection-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    color: #000000;
    gap: 0.5rem;
}
