.main-layout {
    min-height: 100vh;
    min-width: 0;
    padding-left: 30px;
}

.main-layout-container {
    display: grid;
    grid-template-columns: 245px minmax(0, 1fr);
    min-height: 100vh;
}
